.nav{
float: right;  
}
  
  .button {
    background-color: whitesmoke;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: #006A71;

}

.button a{
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
} 

.btn {
    background-color: whitesmoke;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 18px;
}

.nav-btn {
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    margin: 0.5rem 0.2rem;
}

