
.square-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square{
    min-width: 250px;
    width: 270px;
    height: 270px;
    padding: 20px;
    font-weight: bold;
    justify-content: space-around;
}

/* .square::after{
    content: "";
    display: block;
    padding-bottom: 100%;
} */

.square p{
    text-align: left;
    flex-direction: row;
    font-size: 11px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
}
#square1{
    background-color:  #F4DFD0;
}
#square2{
    background-color: thistle;
    margin: 10px;
    width: 250px;
    height: 250px;
}

#square3{
    background-color: #7EB5A6;
    border-style: solid;
    border-width: 10px;
    border-color: #B5EAEA;
}

#square4{
    background-color: #006A71;
    padding: 30px;
    color: thistle;
}

#square4 p{
    color: thistle;
}

#square5{
    background-color: #B5EAEA;
}

#square6{
    background-color: #EDF6E5;
}

#square7{
    background-color: #E4D8DC;
}
#square7 p{
    margin-bottom: 8px;
}
#square7outside{
    position: relative;
    background-color: thistle;
    width: 80px;
    height: 80px;
}

#square7inside{
    position: relative;
    background-color: white;
    width: 55px;
    height: 55px;
    margin-bottom: 3px;
}
#square8{
    background-color: #758086;
    color: white;
    font-weight: normal;
}

#square8 p{
    color: white;
    margin-bottom: 8px;
}
#square8outside{
    position: absolute;
    background-color: #93B5C6;
    width: 85px;
    height: 85px;
}
#square8inside{
    position: absolute;
    background-color: #FFE3E3;
    width: 55px;
    height: 55px;
}

#square9{
    background-color: white;
}
#fix-square{
    position: fixed;
    background-color: #B5EAEA;
    margin: 10px;
    width: 165px;
    height: 165px;
    padding: 10px;
}
.highlight{
    background-color: #B5EAEA;
}

#square10{
    background-color: #C9CCD5;
    position: sticky;
}

#square11{
    background-color: #a8a8a8;
    display: inline;
    color: white;
}
#square11 p{
    color: #006A71;
    display: inline;
}
.inline-content{
    display: inline;
    background-color: white;
}
#square12{
    background-color: #7E8A97;
    color: white;
    display: inline-block;
}
#square12 p {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
#square12a{
    width: 30px;
    height: 30px;
    background-color: #006A71;
}
#square12b{
    width: 20px;
    height: 20px;
    background-color: white;
}
#square12c{
    width: 30px;
    height: 30px;
    background-color: #006A71;
}
#square13{
    background-color: #F4DFD0;
    border-radius: 30rem;
    text-align: center;
    position: relative;

}
#square13 p{
    position: absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#square14{
    background-color: #7EB5A6;
}

#square15{
    background-color: #EDF6E5;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    background-color: yellow;
    padding: 30px;
  }

.triangle-right {
	position: relative;
    border-top: 60px solid transparent;
	border-left: 100px solid white;
	border-bottom: 60px solid transparent;
}

#square16{
    /* background-color: #faffea; */
    width: 33%;
    height: auto;
}

#square17{
    /* background-color: #e6ddde; */
    width: 33%;
    height: auto;
}

#square18{
    width: 33%;
    height: auto;
}

#square19{
    width: 33%;
    height: auto;
}

#square20{
    width: 33%;
    height: auto;
}

#square21{
    width: 33%;
    height: auto;
}

#square22{
    width: 33%;
    height: auto;
}

#square23{
    width: 33%;
    height: auto;
}

#square24{
    width: 33%;
    height: auto;
}

#square25{
    width: 33%;
    height: auto;
}
